.footer-container {

  overflow: hidden;
  position: relative;
  padding: 10px 0;
  background-image: linear-gradient(to right, #6482AD, #7FA1C3);
}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: #1caada;

}

.f-logo {
  max-height: 75px;
  padding: 20px 0;
}

.footer-container p {
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.footer-container {
  width: 102%;
}